<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<title>Mi Portafolio Online</title>
	<link rel="stylesheet" href="../css/normalize.css"/>
	<link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>	
		</nav>
		<figure class="Header-imageContainer">
			<img src="avatar.jpg" alt="Imagen Personal" class="Header-image"/>
			<figcaption class="Header-imageDescription">
				<a href="http://twitter.com/jonathan117sp/" target="_black">@jonathan117sp</a>
			</figcaption>
			<p>Jonathan Lizcano</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
	<h2 class="Profile-title u-title">Mi perfil</h2>
	<p>
		<strong>Hola</strong> Soy Jonathan Lizcano <span class="Profile-span">Freenlacer</span> en esta pagina podras ver todos mis trabajos <em>Contactame!</em>
	</p>
		<a class="Profile-link" href="http://twitter.com/jonathan117sp/" target="_blank">@jonathan117sp</a>
		<a class="Profile-link" href="https://www.facebook.com/jonathanlizcano117" target="_blank">Jonathan Lizcano</a>
		<a class="Profile-link" href="https://github.com/jonathan117sp" target="_blank">Jonathan Lizcano</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageConteiner">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageConteiner">
				<img class="Work-image" src="Jonathan.jpg" alt="Esta es la descripcionde mi imagen">
				<figcaption class="Work-description">Website de jonathan lizcano</figcaption>
			</figure>
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo contactame por este formulario</p>
		<form action="" class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder="Email"/>
			<textarea class="Footer-textarea" name="" id="" cols="30" rows="10" placeholder="Motivo"></textarea>
			<button type="submit" class="Footer-buttom">Contactarme</button>
		</form>
	</footer>
	
</body>
</html>